.formContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formContainer h2 {
  margin: 0;
  color: #555;
  font-size: 1.25rem;
  font-weight: 500;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.input {
  width: calc(25% - 6px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
}

.input:focus {
  outline: none;
  border-color: #050709;
  box-shadow: 0 0 0 3px rgba(5, 7, 8, 0.5);
}

.colorInput {
  height: 40px;
  width: 40px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.colorInput::-webkit-color-swatch {
  border: 2px solid #ddd;
}

.colorInput::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid #ddd;
}

.createButton {
  padding: 10px 5px;
  margin-top: 5px;
   background-color: #1d9525;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
}

.createButton:hover {
  background-color: #167c1d;
}