.seat {
    width: 30px;
    height: 30px;
    /* Cambia de 5px a 50% para que sea un círculo */
    border-radius: 50%;
    /* ... el resto de los estilos se mantienen igual ... */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
     transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

.seat:hover,
.seat.selected {
  transform: scale(1.1); /* Escala */
  filter: brightness(0.9); /* Oscurece */
}

/* El resto de los estilos se mantienen para los colores y bordes */
.seat.selected {
  border: 1px solid green;
  background-color: #d9f7be;
}

.seat.notSelected {
    /* Use the custom property for the background color */
    border: 1px solid var(--row-color, #999);
    background-color: var(--row-color, #f0f0f0);
}