.seat {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
     transition: transform 0.8s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.seat:hover,
.seat.selected {
  transform: scale(1.1); 
  filter: brightness(0.9); 
}

.seat.selected {
  border: 1px solid #F09819;
  background-color: #edde5d66;
}

.seat.notSelected {
    border: 1px solid var(--row-color, #999);
    background-color: var(--row-color, #f0f0f0);
}