.mainContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

.seatMapWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex-grow: 1; 
  padding: 20px;
  overflow: auto; 
  background-color: #ffffffef;
}

.controlsPanel{
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0; 
  border-right: 1px solid #ccc;
  overflow: auto; 
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; 
}

.headerContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
}

@media (max-width: 1208px) {
  .mainContainer {
    flex-direction: column;
    /* La altura se adapta a la de su contenido */
    height: auto;
    /* El único scroll de la página */
    overflow-y: auto; 
  }

  .controlsPanel,
  .seatMapWrapper {
    width: 100%;
    /* No hay altura fija, los componentes se apilan y ocupan lo que necesiten */
    height: auto;
    /* ¡Eliminamos el scroll interno! */
    overflow-y: visible;
    flex-grow: 0;
  }
}

.seatMapWrapper h1 {
  text-align: center;
  color: var(--color-text-dark);
}

