.mainContainer {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  width: 100%;
}

.seatMapWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex-grow: 1; 
  padding: 20px;
  overflow: auto; 
}

.controlsPanel{
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0; 
  border-right: 1px solid #ccc;
  overflow: auto; 
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; 
}

.headerContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
}

@media (max-width: 1208px) {
    .mainContainer {
    flex-direction: column;
    height: auto;
    overflow-y: auto; 
  }

  .controlsPanel {
    width: 100%;
    height: auto;
    overflow-y: visible;
  }

  .seatMapWrapper {
    width: 100%;
    height: auto;
    min-height: 100vh; 
    overflow-y: visible;
  }
}

.seatMapWrapper h1 {
  text-align: center;
  color: var(--color-text-dark);
}

